<nav class="z-depth-3 col hide-on-med-and-down side-nav white">

<div class="valign-wrapper nav-wrapper">
  <ul>
    <li class="app-width"><a class="black-text" href="#">HOME</a></li>
    <li class="app-width"><a class="black-text" href="#loesungen">LÖSUNGEN</a></li>
    <li class="app-width"><a class="black-text" href="#prototyp">PROTOTPY</a></li>
    <li class="app-width"><a class="black-text" href="#support">SUPPORT</a></li>
    <li class="app-width"><a class="black-text" href="#kontakt">KONTAKT</a></li>
    <li class="app-width"><a class="black-text" href="#team">TEAM</a></li>
    <li class="app-width"><a class="black-text" href="#faq">FAQ</a></li>
    <li class="app-width"><a class="black-text" href="#impressum">IMPRESSUM</a></li>
  </ul>
</div>
</nav>
