  <!--Mobile Curtain nav-->
  <div id="bot-nav" class="overlay">
    <div class="overlay-content">
      <ul>
        <li class="curtain-hover"><a (click)="closeNav()" class="black-text" href="#">HOME</a></li>
        <li class="curtain-hover"><a (click)="closeNav()" class="black-text" href="#support">SUPPORT</a></li>
        <li class="curtain-hover"><a (click)="closeNav()" class="black-text" href="#team">TEAM</a></li>
        <li class="curtain-hover"><a (click)="closeNav()" class="black-text" href="#impressum">IMPRESSUM</a></li>
      </ul>
    </div>
  </div>
