<div class="row">
  <div class="col l2">
  </div>
  <div class="col s12 m12 l8">
    <h3 class="center">
      Newsletter
    </h3>
    <form [formGroup]="newsletterForm" (ngSubmit)="sendNewsletter()">
      <mat-form-field class="full-width" appearance="standard">
        <mat-label>Betreff</mat-label>
        <input matInput formControlName="subject">
        <mat-icon class="accept-icon" matSuffix *ngIf="!errorHandling('subject', 'required') && newsletterForm.value.subject!==''">done</mat-icon>
        <mat-error *ngIf="errorHandling('subject', 'required')">Bitte einen Betreff eingeben.</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="standard">
        <mat-label>General News Title</mat-label>
        <input matInput formControlName="title1">
        <mat-icon class="accept-icon" matSuffix *ngIf="!errorHandling('title1', 'required') && newsletterForm.value.subject!==''">done</mat-icon>
        <mat-error *ngIf="errorHandling('title1', 'required')">Bitte einen General News Title eingeben.</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="standard">
        <mat-label>General News Text</mat-label>
        <textarea  matInput cdkTextareaAutosize formControlName="text1"></textarea>
        <mat-icon class="accept-icon" matSuffix *ngIf="!errorHandling('text1', 'required') && newsletterForm.value.title1!==''">done</mat-icon>
        <mat-error *ngIf="errorHandling('text1', 'required')">Bitte einen Text für die General News eingeben.</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="standard">
        <mat-label>Tech News Title</mat-label>
        <input matInput formControlName="title2">
        <mat-icon class="accept-icon" matSuffix *ngIf="!errorHandling('title2', 'required') && newsletterForm.value.subject!==''">done</mat-icon>
        <mat-error *ngIf="errorHandling('title2', 'required')">Bitte einen Tech News Title eingeben.</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="standard">
        <mat-label>Tech News Text</mat-label>
        <textarea  matInput cdkTextareaAutosize formControlName="text2"></textarea>
        <mat-icon class="accept-icon" matSuffix *ngIf="!errorHandling('text2', 'required') && newsletterForm.value.title1!==''">done</mat-icon>
        <mat-error *ngIf="errorHandling('text2', 'required')">Bitte einen Text für die Tech News eingeben.</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="standard">
        <mat-label>Bonus News Title</mat-label>
        <input matInput formControlName="title3">
        <mat-icon class="accept-icon" matSuffix *ngIf="!errorHandling('title3', 'required') && newsletterForm.value.subject!==''">done</mat-icon>
        <mat-error *ngIf="errorHandling('title3', 'required')">Bitte einen General Bonus Title eingeben.</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="standard">
        <mat-label>Bonus News Text</mat-label>
        <textarea  matInput cdkTextareaAutosize formControlName="text3"></textarea>
        <mat-icon class="accept-icon" matSuffix *ngIf="!errorHandling('text3', 'required') && newsletterForm.value.title1!==''">done</mat-icon>
        <mat-error *ngIf="errorHandling('text3', 'required')">Bitte einen Text für die Bonus News eingeben.</mat-error>
      </mat-form-field>

      <div class="row">
        <div class="flex-row col s12">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!newsletterForm.valid">ABSENDEN
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col l2">
  </div>
</div>
