<div class="row">
  <div class="col l2">
  </div>
  <div class="col s12 m12 l8">
    <h3 class="center">
      Newsletter
    </h3>
    <form [formGroup]="newsletterForm" (ngSubmit)="sendNewsletter()">
      <mat-form-field class="full-width" appearance="standard">
        <mat-label>Betreff</mat-label>
        <input matInput formControlName="subject">
        <mat-icon class="accept-icon" matSuffix *ngIf="!errorHandling('subject', 'required') && newsletterForm.value.subject!==''">done</mat-icon>
        <mat-error *ngIf="errorHandling('subject', 'required')">Bitte einen Betreff eingeben.</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="standard">
        <mat-label>Text</mat-label>
        <textarea  matInput cdkTextareaAutosize formControlName="text"></textarea>
        <mat-icon class="accept-icon" matSuffix *ngIf="!errorHandling('text', 'required') && newsletterForm.value.text!==''">done</mat-icon>
        <mat-error *ngIf="errorHandling('text', 'required')">Bitte einen Text eingeben.</mat-error>
      </mat-form-field>
      <div class="row">
        <div class="flex-row col s12">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!newsletterForm.valid">ABSENDEN
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col l2">
  </div>
</div>
