<nav class="menu-bar z-depth-3 white hide-on-large-only">
  <ul class="flex-row">
    <li>
      <i [routerLink]="['/profile']" class="fas fa-user hover black-text padding"></i>
    </li>
    <li>
      <i [routerLink]="['/search']" class="fas fa-search hover black-text padding"></i>
    </li>
 <!--   <li *ngFor="let menuTab of menuTabList$ | async | slice:0:3">
      <a class="black-text padding" (click)="closeNav()" href="{{menuTab.tabLink}}">{{menuTab.tabName}}</a>
    </li>
    <li>
      <ng-container *transloco="let t; scope: 'landing', read: 'landing'">
        <a id="mehr" class="black-text padding" (click)="openNav()" *ngIf="length > 3 || logoutButton">{{ t('more') }}</a>
      </ng-container>
    </li>-->
  </ul>
</nav>
