<div class="center">
  <a href="https://chat.whatsapp.com/KsBKIj12WovKUYyXWzPsas" target="_blank" class=""><i class="fa fa-whatsapp hover"></i></a>
  <a href="https://www.facebook.com/DemocracyLife-105796507930848" target="_blank" class=""><i class="fa fa-facebook hover"></i></a>
  <a href="https://twitter.com/life_democracy" target="_blank" class=""><i class="fa fa-twitter hover"></i></a>
  <a href="https://www.instagram.com/skybias/" target="_blank" class=""><i class="fa fa-instagram hover"></i></a>
  <!--<a href="#" target="_blank" class=""><i class="fa fa-instagram hover"></i></a>-->
</div>
