<!-- FAQ -->
<div class="row">
  <div class="col l2">
  </div>
  <div class="col s12 m12 l8">
    <div class="container">
      <h3 class="center">FAQ</h3>
      <div class="">
        <h5 class="center">Zu Funktionen</h5>
        <app-faq [questions]="functionalQuestions"></app-faq>
        <h5 class="center">Zum Recht</h5>
        <app-faq [questions]="legalQuestions"></app-faq>
        <h5 class="center">Zur Einführung</h5>
        <app-faq [questions]="introductionQuestions"></app-faq>
        <h5 class="center">Zur Implementation</h5>
        <app-faq [questions]="implementationQuestions"></app-faq>
      </div>
    </div>
  </div>
  <div class="col l2">
  </div>
</div>

