  <div class="valign-wrapper">
  <div class="container ">
    <div class="row">
      <div class="col l2">
      </div>
      <div class="col s12 m12 l8">
        <p class="center">Mail to: </p>
        <div class="center">
          <p id="emailTo" class="chip center">{{sendEmailData.email}}</p>
        </div>
        <p class="center">ID: {{sendEmailData.id}}</p>
        <form [formGroup]="emailReplyForm" (ngSubmit)="sendEmail()">
          <mat-form-field class="full-width" appearance="standard">
            <mat-label>Betreff</mat-label>
            <input matInput formControlName="subject">
            <mat-icon class="accept-icon" matSuffix *ngIf="!errorHandling('subject', 'required') && emailReplyForm.value.subject!==''">done</mat-icon>
            <mat-error *ngIf="errorHandling('subject', 'required')">Bitte einen Betreff eingeben.</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="standard">
            <mat-label>Nachricht</mat-label>
            <textarea  matInput cdkTextareaAutosize formControlName="text"></textarea>
            <mat-icon class="accept-icon" matSuffix *ngIf="!errorHandling('text', 'required') && emailReplyForm.value.text!==''">done</mat-icon>
            <mat-error *ngIf="errorHandling('text', 'required')">Bitte eine Nachricht eingeben.</mat-error>
          </mat-form-field>

          <div class="row">
            <div class="flex-row col s12">
              <button
                mat-raised-button
                color="primary"
                type="submit"
                (click)="sendEmail()"
                [disabled]="!emailReplyForm.valid">ABSENDEN
              </button>
              <button
                mat-button
                type="button"
                (click)="noEmail()"
                >ABBRECHEN
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col l2">
      </div>
    </div>
  </div>
</div>
