<a id="share-button" class='black-text' [matMenuTriggerFor]="menu">
  <i class="material-icons">share</i>
</a>

<mat-menu #menu="matMenu">
  <a mat-menu-item (cbOnSuccess)="openSnackbar()" ngxClipboard [cbContent]="link">
    <div>
      <i class="fa fa-copy "></i>
      <ng-container *transloco="let t; scope: 'landing', read: 'landing'">
        <span>{{t('copy')}}</span>
      </ng-container>
    </div>
  </a>
  <a mat-menu-item href="https://api.whatsapp.com/send?text={{link}}" target="_blank">
    <div>
      <i class="fab fa-whatsapp "></i>
      <span>Whatsapp</span>
    </div>
  </a>
  <a mat-menu-item href="https://www.facebook.com/sharer.php?u={{link}}" target="_blank">
    <div>
      <i class="fab fa-facebook "></i>
      <span>Facebook</span>
    </div>
  </a>
  <a mat-menu-item href="https://twitter.com/intent/tweet?text={{link}}" target="_blank">
    <div>
      <i class="fab fa-twitter "></i>
      <span>Twitter</span>
    </div>
  </a>
</mat-menu>
