<!--Mobile Nav-->
<app-bar-bot [menuTabList]="menuTabList"></app-bar-bot>
<app-bar-bot-curtain [menuTabList]="menuTabList"></app-bar-bot-curtain>

<!-- Desktop side nav-->
<app-bar-side [menuTablList]="menuTabList"></app-bar-side>

<!--Landing Page-->
<app-landing-page
  id=""
  class="scrollspy"
></app-landing-page>

<!-- List of arguments / solutions -->
<div id="" class="row">
  <div class="col l2">
  </div>
  <div class="col s12 m12 l8">
    <div class="container">
      <h3 id="loesungen" class="center scrollspy">Lösungen</h3> <!-- id="loesungen" und class="scrollspy here => side nav scrollspy for loesungen is not working correctly -->
    </div>
  </div>
  <div class="col l2">
  </div>
</div>

<!--Loesung navs mobile & tablet-->
<app-bar-side-submenu-mobile
  [menuTabList]="menuLoesungTabList"
  [stickyStart]="offSetTopLoesungen"
  [stickyEnd]="offSetTopPrototyp-100"
></app-bar-side-submenu-mobile>
<app-bar-side-submenu-tablet
  [menuTabList]="menuLoesungTabList"
  [stickyStart]="offSetTopLoesungen"
  [stickyEnd]="offSetTopPrototyp-100"
></app-bar-side-submenu-tablet>

<div class="row"> <!-- id="loesungen" und class="scrollspy here => subnav scrollspy is not working anymore -->
  <div class="col l2">
  </div>
  <div class="col s12 m12 l8">
    <div class="container">
      <!-- Arument 1: Ideen & Anträge -->
      <div class="row">
        <div class="col s12 m6">
          <app-argument
            id="{{ideenID}}"
            class="scrollspy2"
            [link]="link + '#' + ideenID"
            [headline]="ideasHeadline"
            [bricks]="ideasBrick">
          </app-argument>
        </div>
        <div class="col s12 m6">
          <app-video-carousel [videoList]="ideasVideos"></app-video-carousel>
        </div>
      </div>

      <!-- Argument 2: Gruppen -->
      <div class="row switch-container">
        <div class="col s12 m6 switch-zwei">
          <app-argument
            id="{{gruppenID}}"
            class="scrollspy2"
            [link]="link + '#' + gruppenID"
            [headline]="groupsHeadline"
            [bricks]="groupsBrick">
          </app-argument>
        </div>
        <div class="col s12 m6 switch-eins">
          <app-video-carousel [videoList]="groupVideos"></app-video-carousel>
        </div>
      </div>

      <!-- Argument 3: Events -->
      <div class="row">
        <div class="col s12 m6">
          <app-argument
            id="{{eventID}}"
            class="scrollspy2"
            [link]="link + '#' + eventID"
            [headline]="eventsHeadline"
            [bricks]="eventsBrick">
          </app-argument>
        </div>
        <div class="col s12 m6">
          <app-video-carousel [videoList]="eventVideos"></app-video-carousel>
        </div>
      </div>

      <!-- Argument 4: Smart Search -->
      <div class="row switch-container">
        <div class="col s12 m6 switch-zwei">
          <app-argument
          id="{{searchID}}"
          class="scrollspy2"
          [link]="link + '#' + searchID"
          [headline]="searchHeadline"
          [bricks]="searchBrick">
        </app-argument>
        </div>
        <div class="col s12 m6">
          <app-video-carousel [videoList]="searchVideos"></app-video-carousel>
        </div>
      </div>

      <!-- Argument 5: Kommunikation -->
      <div class="row">
        <div class="col s12 m6">
          <app-argument
            id="{{kommunikationID}}"
            class="scrollspy2"
            [link]="link + '#' + kommunikationID"
            [headline]="communicationHeadline"
            [bricks]="communicationBrick">
          </app-argument>
        </div>
        <div class="col s12 m6">
          <app-video-carousel [videoList]="communicationVideos"></app-video-carousel>
        </div>
      </div>

      <!-- Argument 6: Daten & Inklusion -->
      <div class="row switch-container">
        <div class="col s12 m6 switch-zwei">
          <app-argument
            id="{{datenID}}"
            class="scrollspy2"
            [link]="link + '#' + datenID"
            [headline]="dataHeadline"
            [bricks]="dataBrick">
          </app-argument>
        </div>
        <div class="col s12 m6">
          <app-video-carousel [videoList]="dataVideos"></app-video-carousel>
        </div>
      </div>
    </div>
  </div>
  <!--loesung menu desktop-->
  <app-bar-side-submenu
    [menuTabList]="menuLoesungTabList"
    [stickyStart]="offSetTopLoesungen"
    [stickyEnd]="offSetTopPrototyp-100">
  </app-bar-side-submenu>
</div>

<!-- Prototype -->
<div class="row">
  <div class="col l2">
  </div>
  <div class="col s12 m12 l8">
    <div class="container">
      <div id="{{prototypID}}" class="row scrollspy">
        <div class="center">
            <h3 class="inline-block padding-right-16">Prototyp</h3>
            <app-button-share class="inline-block padding-left-16" [link]="link + '#' + prototypID"></app-button-share>
        </div>
        <div class="col s12 m6">
          <h6>Visualisieren</h6>
          <p class="justify">
            Über Technologie zu reden, die nicht da ist, ist sehr abstrakt.
          </p>
          <p class="justify">
            Wir wollen die Ideen, wie Politik durch Technologie in einer globalen und digitalen Welt
            besser werden kann, visualisieren und anfassbar machen.
          </p>
          <h6>Diskutieren</h6>
          <p class="justify">
            Der Prototyp ist eine Grundlage für eine Diskussion und gleichzeitig eine Einladung:
            Mitzumachen und die Tools der Politik von morgen zu gestalten!
          </p>
          <h6>Testen</h6>
          <p class="justify">Schon im März 2021 wollen wir eine Beta Version zum Testen veröffentlichen.</p>
          <p>Bis dahin, click auf einen Button im visuellen Prototypen, um unsere Ideen zu testen!</p>
        </div>

        <div class="col s12 m6">
          <app-newsletter></app-newsletter>
        </div>
      </div>
      <div id="{{clickDummyID}}" class="center">
        <h4 class="inline-block padding-right-16">Klick Dummy</h4>
        <app-button-share class="inline-block padding-left-16" [link]="link + '#' + clickDummyID"></app-button-share>
      </div>
      <div class="center margin-top">
        <iframe class="iframe round center z-depth-3" src="https://xd.adobe.com/embed/9e081b15-b13d-4217-4cf9-8838d58e1ce9-e839/"
          frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="col l2">
  </div>
</div>

<!-- Unterstützung -->
<div class="row">
  <div class="col l2">
  </div>
  <div class="col s12 m12 l8">
    <div id="{{supportID}}" class="container scrollspy">
      <div class="center">
        <h3 class="inline-block padding-right-16">Unterstütz uns!</h3>
        <app-button-share class="inline-block padding-left-16" [link]="link + '#' + supportID"></app-button-share>
      </div>
      <div class="center">
        <h5>Entwickler? Besuche uns auf GitHub</h5>
        <a href="https://github.com/Donnerstagnacht/democracy" target="_blank" class=""><i class="fa fa-github hover center black-text"></i></a>
      </div>
      <app-highlight [highlight]="highlight"></app-highlight>
      <app-card-controller></app-card-controller>
    </div>
  </div>
  <div class="col l2">
  </div>
</div>

<!-- Kontakt -->
<div class="row">
  <div class="col l2">
  </div>
  <div class="col s12 m12 l8">
    <div id="{{contactID}}" class="scrollspy container">
      <div class="center">
        <h5>
          Fragen? Interesse?
        </h5>
        <p>
          Dann besuche uns in den Sozialen Medien
        </p>
        <app-bar-share></app-bar-share>
        <p>
          Oder schreibe uns eine Nachricht
        </p>
      </div>
      <!-- Kontaktform-->
      <div class=" row">
        <app-contact></app-contact>
      </div>
    </div>
  </div>
  <div class="col l2">
  </div>
</div>

<!-- Team -->
<app-team-member-controller
  id="{{teamID}}"
  [link]="link + '#' + teamID"
  class="scrollspy">
</app-team-member-controller>

<!--FAQ-->
<app-faq-controller
  id="{{faqID}}"
  [link]="link + '#' + faqID"
  class="scrollspy">
</app-faq-controller>

<!-- Impressum -->
<app-impressum
  [link]="link + '#' + impressumID"
  id="{{impressumID}}"
  class="scrollspy">
</app-impressum>

