<!-- Modal Subsribe Edit -->
<mat-dialog-content>
  <form [formGroup]="editEmailForm">
    <div class="modal-content">
      <h4>Die neue Email lautet</h4>
      <mat-form-field class="full-width" appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput formControlName="editEmail">
        <mat-icon class="accept-icon" matSuffix *ngIf="!errorHandling('editEmail', 'email') && editEmailForm.value.editEmail!==''">done</mat-icon>
        <mat-error *ngIf="errorHandling('editEmail', 'email')">Bitte eine Email eingeben.</mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="flex-row">
  <button
  (click)="edit()"
  [mat-dialog-close]="subscriber"
  type="submit"
  class="center btn-flat grey lighten-3"
  [disabled]="!editEmailForm.valid"
  >Speichern</button>
  <button [mat-dialog-close]="" class="center modal-close btn red lighten-3 black-text">Abbrechen</button>
</mat-dialog-actions>
