@import '~@angular/material/theming';
@import '../../leftlife-theme.scss';

.colour-2 {
  color: mat-color($left-life-primary);
}

.responded {
  background-color: mat-color($left-life-acceptance);
}

button {
  background-color: transparent!important;
}
