<!--Mobile Nav-->
<app-bar-bot
  [menuTabList]="menuTabList"
  [logoutButton]="true">
</app-bar-bot>
<app-bar-bot-curtain
  [menuTabList]="menuTabList"
  [logoutButton]="true">
</app-bar-bot-curtain>

<!-- Desktop side nav-->
<app-bar-side
  [menuTablList]="menuTabList"
  [logoutButton]="true">
</app-bar-side>

<app-admin-newsletter
  id="admin/newsletter"
  class="scrollspy3"
  (newsletterEvent)="sendNewsletter($event)"
></app-admin-newsletter>
<div class="row">
  <div class="col l2">
  </div>
  <div class="col s12 m12 l8">
    <app-admin-subscribers
      id="admin/subscribers"
      class="scrollspy3"
      [subscribers]="subscribers"
      (addSubscriberEvent)="createSubscriber($event)"
      (editSubscriberEvent)="updateSubscriber($event)"
      (deleteSubscriberEvent)="deleteSubscriber($event)"
      (filterEmailEvent)="filterSubscriber($event)"
      (sendEmailEvent)="replyByEmail($event, false)"
    ></app-admin-subscribers>
  </div>
  <div class="col l2">
  </div>
</div>
<div class="test"></div>

<div class="row margin-for-bot-bar">
  <div class="col l2">
  </div>
  <div class="col s12 m12 l8">
    <app-admin-messages
      id="admin/messages"
      class="scrollspy3"
      [messagesWebpage]="messagesWebpage"
      (sendEmailEvent)="replyByEmail($event, true)"
      (deleteMessageEvent)="deleteMessage($event)"
    ></app-admin-messages>
  </div>
  <div class="col l2">
  </div>
</div>
