.padding-8-l {
  padding-left: 8px;
}

.padding-8-r {
  padding-right: 8px;
}

.inline-block {
  display: inline-block;
}

.padding-right-16 {
  padding-right: 16px;
}

.padding-left-16 {
  padding-left: 16px;
}
