<h3 class="center" >
  Subscribers
</h3>
<form [formGroup]="addEmailForm" (ngSubmit)="addEmail()">
  <div class="input-field">
    <input required type="email" class="validate" formControlName="addEmail">
    <label for="email-subscribe">Email</label>
    <span id="email-subscribe-helper" class="helper-text" data-error="Bitte eine Email eingeben."></span>
  </div>
  <div class="center">
    <button
      class="waves-effect waves-light btn red lighten-3 black-text"
      type="submit"
      [disabled]="!addEmailForm.valid"
    >HINZUFÜGEN</button>
  </div>
</form>
<table class="highlight">
  <thead>
    <tr>
      <th>Email</th>
      <th>Ändern</th>
      <th>Löschen</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let subscriber of subscribers | async">
      <td>{{subscriber.email}}</td>
      <td>
        <a (click)="openEditModal(subscriber)" class="">
          <i class="fas fa-pen hover black-text"></i>
        </a>
      </td>
      <td>
        <a (click)="openDeleteModal(subscriber)" class="">
          <i class="fas fa-trash hover black-text"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal Subsribe Edit -->
<div id="editModal" class="modal">
  <form [formGroup]="editEmailForm" (ngSubmit)="edit(clickedSubscriber)">
    <div class="modal-content">
      <h4>Die neue Email lautet</h4>
        <div class="input-field">
          <input required id="newEmail" type="email" class="validate" formControlName="editEmail">
          <label for="email-subscribe">Email</label>
          <span id="email-subscribe-helper" class="helper-text" data-error="Bitte eine Email eingeben."></span>
        </div>
    </div>
    <div class="modal-footer flex-row">
      <button
      type="submit"
      class="center modal-close btn-flat grey lighten-3"
      [disabled]="!editEmailForm.valid"
      >Speichern</button>
      <button class="center modal-close btn red lighten-3 black-text">Abbrechen</button>
    </div>
  </form>
</div>

<!-- Modal Subsribe Delete -->
<div id="deleteModal" class="modal">
  <div class="modal-content">
    <h4>Möchtest du diesen Kontakt wirklich löschen?</h4>
    <p *ngIf="clickedSubscriber">Email: {{clickedSubscriber.email}}</p>
  </div>
  <div class="modal-footer flex-row">
    <button (click)="delete(clickedSubscriber)" class="center modal-close btn-flat grey lighten-3">Ja</button>
    <button class="center modal-close btn red lighten-3 black-text">Nein</button>
  </div>
</div>


