@import '../../leftlife-theme.scss';

.mat-tab-label-active:focus {
  background-color: mat-color($left-life-primary, 50);
}

.mat-tab-label {
  font-family: monospace!important;
  font-weight: 400!important;
}

.mat-tab-label-active {
  opacity: 1!important;
  color: mat-color($left-life-primary, 800)!important;
}
