<ng-container *transloco="let t; scope: 'admin', read: 'admin.message'">
  <h3 class="center">
    Messages
  </h3>
  <div class="card" *ngFor="let message of messagesWebpage | async" [class.responded]="message.responded==true">
    <div class="card-content">
      <span class="card-title">{{message.subject}}</span>
      <p>Von: {{message.email}}</p>
      <p><a href="#" class="primary-900">Sender: {{message.firstName}} {{message.lastName}}</a></p>
      <p><a href="#" class="chip">Thema: {{message.topic}}</a></p>
      <p>{{message.message}}</p>
    </div>
    <div class="card-action">
      <button
        mat-flat-button
        (click)="sendEmail(message)"
        >{{t('answer')}}</button>
      <button
        mat-flat-button
        (click)="openDeleteModal(message)"
        >{{t('delete')}}</button>
    </div>
  </div>
</ng-container>
