<!-- FAQ -->
<div class="row">
  <div class="col l2">
  </div>
  <div class="col s12 m12 l8">
    <div class="container">
      <div class="center">
        <h3 class="inline-block padding-right-16">FAQ</h3>
        <app-button-share class="inline-block padding-left-16" [link]="link"></app-button-share>
      </div>
      <div>
        <h5 class="center">{{functionalHeadline$ | async}}</h5>
        <app-faq [questions$]="functionalQuestions$"></app-faq>
        <h5 class="center">{{legalHeadline$ | async}}</h5>
        <app-faq [questions$]="legalQuestions$"></app-faq>
        <h5 class="center">{{introductionHeadline$ | async}}</h5>
        <app-faq [questions$]="introductionQuestions$"></app-faq>
        <h5 class="center">{{implementationHeadline$ | async}}</h5>
        <app-faq [questions$]="implementationQuestions$"></app-faq>
      </div>
    </div>
  </div>
  <div class="col l2">
  </div>
</div>

