<ul
  id="loesung-menu-mobil"
  class="hide-on-med-and-up flex-container-overflow"
  [class.sticky-mobile]="sticky === true"
  [class.z-depth-3]="sticky === true">
  <li><a class="loesung-menu-mobile-child black-text" href="#ideen">Ideen</a></li>
  <li><a class="loesung-menu-mobile-child black-text" href="#gruppen">Gruppen</a></li>
  <li><a class="loesung-menu-mobile-child black-text" href="#events">Events</a></li>
  <li><a class="loesung-menu-mobile-child black-text" href="#search">Smart Search</a></li>
  <li><a class="loesung-menu-mobile-child black-text" href="#kommunikation">Kommunikation</a></li>
  <li><a class="loesung-menu-mobile-child black-text" href="#daten">Daten & Inklusion</a></li>
</ul>
