<div id="home" class="row">
  <div class="col l2">
  </div>
  <div class="col s12 m12 l8">
    <div class="container">
      <div class="row landing-wrapper">
        <div class="col s12 m6 headline">
          <h1 class="">Für Alle</h1>
          <div id="typed-strings">
            <p class="absatz  typewriter1">
              die an <mark class="mark">Gerechtigkeit</mark> glauben.<br>
              ^1000 die die Welt <mark class="mark">verbessern</mark> wollen.<br>
              ^1000 die Politik <mark class="mark">gestalten</mark>.<br>
              ^1000 die in der SPD zu Hause sind.
            </p>
          </div>
          <span id="typed" class="typewriter1"></span>
        </div>
        <div class="col s12 m6">
          <div class="center phone">
            <img *ngIf="counter===1" class="iphone-x" src="../assets/images/group-wiki.png" alt="group-wiki">
            <img *ngIf="counter===2" class="iphone-x" src="../assets/images/group-stream.png" alt="group-stream">
            <img *ngIf="counter===3" class="iphone-x" src="../assets/images/group-tasks.png" alt="group-tasks">
            <img *ngIf="counter===4" class="iphone-x" src="../assets/images/group-event.png" alt="group-event">
            <img *ngIf="counter===5" class="iphone-x" src="../assets/images/group-events.png" alt="group-events">
            <img *ngIf="counter===6" class="iphone-x" src="../assets/images/group-event.png" alt="group-event">
            <img *ngIf="counter===7" class="iphone-x" src="../assets/images/group-event-2.png" alt="group-event-2">
            <img *ngIf="counter===8"class="iphone-x" src="../assets/images/group-ideas.png" alt="group-ideas">
            <img *ngIf="counter===9" class="iphone-x" src="../assets/images/antrag-1.png" alt="antrag-1">
            <img *ngIf="counter===10" class="iphone-x" src="../assets/images/antrag-2.png" alt="antrag-2">
            <img *ngIf="counter===11" class="iphone-x" src="../assets/images/chat.png" alt="chat">
            <img *ngIf="counter===12" class="iphone-x" src="../assets/images/notifications.png" alt="notifications">
            <img *ngIf="counter===13" class="iphone-x" src="../assets/images/search-ideas.png" alt="search-ideas">
            <img *ngIf="counter===14" class="iphone-x" src="../assets/images/search-persons.png" alt="search-person">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col l2">
  </div>
</div>
