.margin-bot-16 {
  margin-bottom: 16px;
}

.hashtags {
  display: inline;
  color: darkblue;
}

.profile-image {
  margin-top: 24px;
  max-height: 100%;
  // width: ;
}

.round {
  border-radius: 10%;
}
