
<div id="home" class="row">
  <div class="col l2">
  </div>
  <div class="col s12 m12 l8">
    <div class="container">
      <div class="row flex-container">
        <div class="col s12 m6 headline ">
            <ng-container *transloco="let t; scope: 'landing', read: 'landing.landing'">
            <h6 class="padding-top">DEMOCRACY LIFE</h6>

              <h2 class="">{{ t('title') }}</h2>
                <!--    <p class="typewriter1">  scope: 'landing', read: 'landing'
                ...an <mark class="mark">Gerechtigkeit</mark> glauben.<br>
                ...unsere <mark class="mark">Welt</mark> verbessern wollen.<br>
                ...Politik <mark class="mark">gestalten</mark> möchten.<br>
                ...<mark class="mark">Sozialdemokraten</mark> sind.
                </p>-->
                <p class="subheading">{{ t('slogan1') }}</p>
                <p class="subheading primary-900">{{ t('slogan2') }}</p>
                <p class="subheading">{{ t('slogan3') }}</p>
                <p class="subheading primary-900">{{ t('slogan4') }}</p>
              </ng-container>
        </div>
        <div class="col s12 m6">
          <div class="center padding-top phoneContainer">
            <img [ngStyle]="{'display': counter===1 ? 'block' : 'none' }" class="iphone-x animate__animated animate__slideInRight" src="../assets/images/group-wiki.png" alt="group-wiki">
            <img [ngStyle]="{'display': counter===2 ? 'block' : 'none' }" class="iphone-x animate__animated animate__slideInRight" src="../assets/images/group-stream.png" alt="group-stream">
            <img [ngStyle]="{'display': counter===3 ? 'block' : 'none' }" class="iphone-x animate__animated animate__slideInRight" src="../assets/images/group-tasks.png" alt="group-tasks">
            <img [ngStyle]="{'display': counter===4 ? 'block' : 'none' }" class="iphone-x animate__animated animate__slideInRight" src="../assets/images/group-event.png" alt="group-event">
            <img [ngStyle]="{'display': counter===5 ? 'block' : 'none' }" class="iphone-x animate__animated animate__slideInRight" src="../assets/images/group-events.png" alt="group-events">
            <img [ngStyle]="{'display': counter===6 ? 'block' : 'none' }" class="iphone-x animate__animated animate__slideInRight" src="../assets/images/group-event.png" alt="group-event">
            <img [ngStyle]="{'display': counter===7 ? 'block' : 'none' }" class="iphone-x animate__animated animate__slideInRight" src="../assets/images/group-event-2.png" alt="group-event-2">
            <img [ngStyle]="{'display': counter===8 ? 'block' : 'none' }"class="iphone-x animate__animated animate__slideInRight" src="../assets/images/group-ideas.png" alt="group-ideas">
            <img [ngStyle]="{'display': counter===9 ? 'block' : 'none' }" class="iphone-x animate__animated animate__slideInRight" src="../assets/images/antrag-1.png" alt="antrag-1">
            <img [ngStyle]="{'display': counter===10 ? 'block' : 'none' }" class="iphone-x animate__animated animate__slideInRight" src="../assets/images/antrag-2.png" alt="antrag-2">
            <img [ngStyle]="{'display': counter===11 ? 'block' : 'none' }" class="iphone-x animate__animated animate__slideInRight" src="../assets/images/chat.png" alt="chat">
            <img [ngStyle]="{'display': counter===12 ? 'block' : 'none' }" class="iphone-x animate__animated animate__slideInRight" src="../assets/images/notifications.png" alt="notifications">
            <img [ngStyle]="{'display': counter===13 ? 'block' : 'none' }" class="iphone-x animate__animated animate__slideInRight" src="../assets/images/search-ideas.png" alt="search-ideas">
            <img [ngStyle]="{'display': counter===14 ? 'block' : 'none' }" class="iphone-x animate__animated animate__slideInRight" src="../assets/images/search-persons.png" alt="search-person">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col l2">
  </div>
</div>
