
<div id="home" class="row">
  <div class="col l2">
  </div>
  <div class="col s12 m12 l8">
    <div class="container">
      <div class="row flex-container">
        <div class="col s12 m6 headline ">
            <ng-container *transloco="let t; scope: 'landing', read: 'landing.landing'">
              <h2 class="">{{ t('title') }}</h2>
                <!--    <p class="typewriter1">  scope: 'landing', read: 'landing'
                ...an <mark class="mark">Gerechtigkeit</mark> glauben.<br>
                ...unsere <mark class="mark">Welt</mark> verbessern wollen.<br>
                ...Politik <mark class="mark">gestalten</mark> möchten.<br>
                ...<mark class="mark">Sozialdemokraten</mark> sind.
                </p>-->

                <p class="subheading">{{ t('slogan1') }}</p>
                <p class="subheading mark">{{ t('slogan2') }}</p>
                <p class="subheading">{{ t('slogan3') }}</p>
                <p class="subheading mark">{{ t('slogan4') }}</p>
              </ng-container>
        </div>
        <div class="col s12 m6">
          <div class="center margin-top">
            <img *ngIf="counter===1" class="iphone-x" src="../assets/images/group-wiki.png" alt="group-wiki">
            <img *ngIf="counter===2" class="iphone-x" src="../assets/images/group-stream.png" alt="group-stream">
            <img *ngIf="counter===3" class="iphone-x" src="../assets/images/group-tasks.png" alt="group-tasks">
            <img *ngIf="counter===4" class="iphone-x" src="../assets/images/group-event.png" alt="group-event">
            <img *ngIf="counter===5" class="iphone-x" src="../assets/images/group-events.png" alt="group-events">
            <img *ngIf="counter===6" class="iphone-x" src="../assets/images/group-event.png" alt="group-event">
            <img *ngIf="counter===7" class="iphone-x" src="../assets/images/group-event-2.png" alt="group-event-2">
            <img *ngIf="counter===8"class="iphone-x" src="../assets/images/group-ideas.png" alt="group-ideas">
            <img *ngIf="counter===9" class="iphone-x" src="../assets/images/antrag-1.png" alt="antrag-1">
            <img *ngIf="counter===10" class="iphone-x" src="../assets/images/antrag-2.png" alt="antrag-2">
            <img *ngIf="counter===11" class="iphone-x" src="../assets/images/chat.png" alt="chat">
            <img *ngIf="counter===12" class="iphone-x" src="../assets/images/notifications.png" alt="notifications">
            <img *ngIf="counter===13" class="iphone-x" src="../assets/images/search-ideas.png" alt="search-ideas">
            <img *ngIf="counter===14" class="iphone-x" src="../assets/images/search-persons.png" alt="search-person">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col l2">
  </div>
</div>
