@import "app/shared/button-share/mat-menu-overwrite-share-button.scss";
@import '~@angular/material/theming';
@import './leftlife-theme.scss';
@import './leftlife-mat-inputs-materialize-compatible.scss';
@import './leftlife-mat-buttons-materialize-compatible.scss';
@import './app/shared/video-carousel/video-carousel-overwrite.scss';
@import './app/admin-subscribers/leftlife-tabs.scss';
@include angular-material-theme($left-life-theme);

.full-width {
  width: 100%;
}

/* You can add global styles to this file, and also import other style files */
/** Typography styles */
h1, h2, h3, h4, h5, h6, span, a, .typewriter1 {
  font-family: monospace!important;
}

h6 {
  color: mat-color($left-life-primary, 900)!important;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.primary-900 {
  color: mat-color($left-life-primary, 900)!important;
}

.primary-100-background {
  background-color: mat-color($left-life-primary, 100)!important;
}

/** * Menu HOver colour */
/* ul > li .active, */
ul > li .active, nav ul a:hover, .curtain-hover:hover  {
  /*background-color: rgba(0, 0, 0, 0.1);*/
  background-color: mat-color($left-life-primary);
}

a.loesung-menu-mobile-child.black-text.active {
  background-color: mat-color($left-life-primary);
}


/** Custom card & elevate styles */
.card {
  border-radius: 2%!important;
}

.round {
  border-radius: 2%;
}

.card-image-round {
  border-radius: 2% 2% 0% 0%;
}

/** Styling slick - mobile scroll menu */
li .slick-slide:focus {
  outline: none!important;
}

/* Flex Settings */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.justify {
  text-align: justify;
}

/** Styling browser scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background:  mat-color($left-life-primary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background:  mat-color($left-life-primary, 900);
}

/* icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-facebook {
  background: transparent;
  color: black;
}

.fa-twitter {
  background: transparent;
  color: black;
}

.fa-whatsapp {
  background: transparent;
  color: black;
}

.fa-instagram {
  background: transparent;
  color: black;
}

.fa-heart {
  padding: 0!important;
}

.hover:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
}

@media screen and (max-width: 992px) {
  .container {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 90%;
  }
}

.app.width {
  width: 100%!important;
}
